<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.1.1" targetFramework="net40" />
  <package id="bootstrap" version="3.3.7" targetFramework="net40" />
  <package id="CKEditor" version="3.6.4" targetFramework="net40" />
  <package id="HtmlRenderer.Core" version="1.5.0.5" targetFramework="net40" />
  <package id="HtmlRenderer.WinForms" version="1.5.0.6" targetFramework="net40" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net40" />
  <package id="itextsharp.xmlworker" version="5.5.13.1" targetFramework="net40" />
  <package id="jQuery" version="2.1.3" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net40" />
  <package id="Microsoft.Report.Viewer" version="10.0.0.0" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.Common.2010SP1Update" version="10.0.40219.329" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.Common.2010SP1UpdateFull" version="10.0.40219.329" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.Common.VS2010" version="10.0.40219.1" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.WebForms" version="10.0.40219.1" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.WebForms.VS2010" version="10.0.40219.1" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Moment.js" version="2.22.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.6" targetFramework="net40" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net40" />
  <package id="Select2.js" version="4.0.11" targetFramework="net40" />
  <package id="System.Net.Http" version="2.0.20126.16343" targetFramework="net40" />
  <package id="toastr" version="2.1.1" targetFramework="net40" />
  <package id="underscore.js" version="1.8.3" targetFramework="net40" />
</packages>