GO
/****** Object:  Table [dbo].[CommonDocuments]    Script Date: 05/03/2017 23:33:04 ******/
DROP TABLE [dbo].[CommonDocuments]
GO
/****** Object:  Table [dbo].[InvCategory]    Script Date: 05/03/2017 23:33:04 ******/
ALTER TABLE [dbo].[InvCategory] DROP CONSTRAINT [DF_InvCategory_ShowInInvoice]
GO
ALTER TABLE [dbo].[InvCategory] DROP CONSTRAINT [DF_PMProductCategory_NodeMode]
GO
DROP TABLE [dbo].[InvCategory]
GO
/****** Object:  Table [dbo].[InvCategoryCostCenterMapping]    Script Date: 05/03/2017 23:33:04 ******/
DROP TABLE [dbo].[InvCategoryCostCenterMapping]
GO
/****** Object:  Table [dbo].[InvCogsAccountVsItemCategoryMappping]    Script Date: 05/03/2017 23:33:04 ******/
DROP TABLE [dbo].[InvCogsAccountVsItemCategoryMappping]
GO
/****** Object:  Table [dbo].[InvInventoryAccountVsItemCategoryMappping]    Script Date: 05/03/2017 23:33:04 ******/
DROP TABLE [dbo].[InvInventoryAccountVsItemCategoryMappping]
GO
/****** Object:  Table [dbo].[InvItem]    Script Date: 05/03/2017 23:33:04 ******/
ALTER TABLE [dbo].[InvItem] DROP CONSTRAINT [DF_InvItem_AdjustmentFrequency]
GO
DROP TABLE [dbo].[InvItem]
GO
/****** Object:  Table [dbo].[InvItemCostCenterMapping]    Script Date: 05/03/2017 23:33:04 ******/
DROP TABLE [dbo].[InvItemCostCenterMapping]
GO
/****** Object:  Table [dbo].[InvItemCostCenterMapping]    Script Date: 05/03/2017 23:33:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[InvItemCostCenterMapping](
	[MappingId] [int] IDENTITY(1,1) NOT NULL,
	[CostCenterId] [int] NULL,
	[ItemId] [int] NULL,
	[KitchenId] [int] NULL,
	[MinimumStockLevel] [decimal](18, 2) NULL,
	[SellingLocalCurrencyId] [int] NULL,
	[UnitPriceLocal] [decimal](18, 2) NULL,
	[SellingUsdCurrencyId] [int] NULL,
	[UnitPriceUsd] [decimal](18, 2) NULL,
	[DiscountType] [varchar](50) NULL,
	[DiscountAmount] [decimal](18, 2) NULL,
	[StockQuantity] [decimal](18, 2) NULL,
	[AdjustmentLastDate] [datetime] NULL,
	[AverageCostDelete] [decimal](18, 2) NULL,
 CONSTRAINT [PK_PMItemCostCenterMapping] PRIMARY KEY CLUSTERED 
(
	[MappingId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[InvItemCostCenterMapping] ON
INSERT [dbo].[InvItemCostCenterMapping] ([MappingId], [CostCenterId], [ItemId], [KitchenId], [MinimumStockLevel], [SellingLocalCurrencyId], [UnitPriceLocal], [SellingUsdCurrencyId], [UnitPriceUsd], [DiscountType], [DiscountAmount], [StockQuantity], [AdjustmentLastDate], [AverageCostDelete]) VALUES (6, 1, 2, 0, CAST(0.00 AS Decimal(18, 2)), 45, CAST(90.00 AS Decimal(18, 2)), 46, CAST(100.00 AS Decimal(18, 2)), N'Fixed', CAST(0.00 AS Decimal(18, 2)), NULL, NULL, NULL)
INSERT [dbo].[InvItemCostCenterMapping] ([MappingId], [CostCenterId], [ItemId], [KitchenId], [MinimumStockLevel], [SellingLocalCurrencyId], [UnitPriceLocal], [SellingUsdCurrencyId], [UnitPriceUsd], [DiscountType], [DiscountAmount], [StockQuantity], [AdjustmentLastDate], [AverageCostDelete]) VALUES (7, 2, 2, 0, CAST(0.00 AS Decimal(18, 2)), 45, CAST(90.00 AS Decimal(18, 2)), 46, CAST(100.00 AS Decimal(18, 2)), N'Fixed', CAST(0.00 AS Decimal(18, 2)), NULL, NULL, NULL)
INSERT [dbo].[InvItemCostCenterMapping] ([MappingId], [CostCenterId], [ItemId], [KitchenId], [MinimumStockLevel], [SellingLocalCurrencyId], [UnitPriceLocal], [SellingUsdCurrencyId], [UnitPriceUsd], [DiscountType], [DiscountAmount], [StockQuantity], [AdjustmentLastDate], [AverageCostDelete]) VALUES (8, 3, 2, 0, CAST(0.00 AS Decimal(18, 2)), 45, CAST(90.00 AS Decimal(18, 2)), 46, CAST(100.00 AS Decimal(18, 2)), N'Fixed', CAST(0.00 AS Decimal(18, 2)), NULL, NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[InvItemCostCenterMapping] OFF
/****** Object:  Table [dbo].[InvItem]    Script Date: 05/03/2017 23:33:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[InvItem](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemType] [varchar](100) NULL,
	[Name] [varchar](100) NULL,
	[Code] [varchar](50) NULL,
	[Description] [varchar](250) NULL,
	[CategoryId] [int] NULL,
	[StockType] [varchar](50) NULL,
	[StockBy] [int] NULL,
	[ClassificationId] [int] NULL,
	[IsCustomerItem] [bit] NULL,
	[IsSupplierItem] [bit] NULL,
	[ManufacturerId] [int] NULL,
	[ProductType] [varchar](20) NULL,
	[PurchasePrice] [decimal](18, 2) NULL,
	[SellingLocalCurrencyId] [int] NULL,
	[UnitPriceLocal] [decimal](18, 2) NULL,
	[SellingUsdCurrencyId] [int] NULL,
	[UnitPriceUsd] [decimal](18, 2) NULL,
	[ServiceWarranty] [int] NULL,
	[ImageName] [varchar](250) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
	[AverageCost] [decimal](18, 2) NULL,
	[IsRecipe] [bit] NULL,
	[SupplierId] [int] NULL,
	[AdjustmentFrequency] [varchar](50) NULL CONSTRAINT [DF_InvItem_AdjustmentFrequency]  DEFAULT ('Daily'),
	[AdjustmentLastDate] [datetime] NULL,
 CONSTRAINT [PK_PMProduct] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[InvItem] ON
SET IDENTITY_INSERT [dbo].[InvItem] OFF
/****** Object:  Table [dbo].[InvInventoryAccountVsItemCategoryMappping]    Script Date: 05/03/2017 23:33:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvInventoryAccountVsItemCategoryMappping](
	[InvAccountMapId] [int] IDENTITY(1,1) NOT NULL,
	[NodeId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Remarks] [nvarchar](250) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_InvInventoryAccountVsItemCategoryMappping] PRIMARY KEY CLUSTERED 
(
	[InvAccountMapId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[InvInventoryAccountVsItemCategoryMappping] ON
INSERT [dbo].[InvInventoryAccountVsItemCategoryMappping] ([InvAccountMapId], [NodeId], [CategoryId], [Remarks], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (1, 57, 1, N'', 0, CAST(0x0000A74B00D306A6 AS DateTime), 1, CAST(0x0000A7680181145D AS DateTime))
INSERT [dbo].[InvInventoryAccountVsItemCategoryMappping] ([InvAccountMapId], [NodeId], [CategoryId], [Remarks], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (2, 57, 2, N'', 1, CAST(0x0000A74B00D4F2D1 AS DateTime), NULL, NULL)
INSERT [dbo].[InvInventoryAccountVsItemCategoryMappping] ([InvAccountMapId], [NodeId], [CategoryId], [Remarks], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (3, 57, 3, N'', 1, CAST(0x0000A74B00D76FF8 AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[InvInventoryAccountVsItemCategoryMappping] OFF
/****** Object:  Table [dbo].[InvCogsAccountVsItemCategoryMappping]    Script Date: 05/03/2017 23:33:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvCogsAccountVsItemCategoryMappping](
	[CogsAccountMapId] [int] IDENTITY(1,1) NOT NULL,
	[NodeId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Remarks] [nvarchar](250) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_InvCogsAccountVsItemCategoryMappping] PRIMARY KEY CLUSTERED 
(
	[CogsAccountMapId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[InvCogsAccountVsItemCategoryMappping] ON
INSERT [dbo].[InvCogsAccountVsItemCategoryMappping] ([CogsAccountMapId], [NodeId], [CategoryId], [Remarks], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (1, 130, 1, N'', 0, CAST(0x0000A74B00D306A9 AS DateTime), 1, CAST(0x0000A76801811460 AS DateTime))
INSERT [dbo].[InvCogsAccountVsItemCategoryMappping] ([CogsAccountMapId], [NodeId], [CategoryId], [Remarks], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (2, 130, 2, N'', 1, CAST(0x0000A74B00D4F2D3 AS DateTime), NULL, NULL)
INSERT [dbo].[InvCogsAccountVsItemCategoryMappping] ([CogsAccountMapId], [NodeId], [CategoryId], [Remarks], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (3, 130, 3, N'', 1, CAST(0x0000A74B00D76FFA AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[InvCogsAccountVsItemCategoryMappping] OFF
/****** Object:  Table [dbo].[InvCategoryCostCenterMapping]    Script Date: 05/03/2017 23:33:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvCategoryCostCenterMapping](
	[MappingId] [int] IDENTITY(1,1) NOT NULL,
	[CostCenterId] [int] NULL,
	[CategoryId] [int] NULL,
 CONSTRAINT [PK_InvCategoryCostCenterMapping] PRIMARY KEY CLUSTERED 
(
	[MappingId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[InvCategoryCostCenterMapping] ON
INSERT [dbo].[InvCategoryCostCenterMapping] ([MappingId], [CostCenterId], [CategoryId]) VALUES (1, 1, 1)
INSERT [dbo].[InvCategoryCostCenterMapping] ([MappingId], [CostCenterId], [CategoryId]) VALUES (2, 2, 1)
INSERT [dbo].[InvCategoryCostCenterMapping] ([MappingId], [CostCenterId], [CategoryId]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[InvCategoryCostCenterMapping] OFF
/****** Object:  Table [dbo].[InvCategory]    Script Date: 05/03/2017 23:33:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[InvCategory](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[AncestorId] [int] NULL,
	[Lvl] [int] NOT NULL,
	[Hierarchy] [varchar](900) NULL,
	[HierarchyIndex] [varchar](900) NULL,
	[Name] [varchar](50) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[ServiceType] [varchar](50) NULL,
	[Description] [varchar](250) NULL,
	[ShowInInvoice] [bit] NULL CONSTRAINT [DF_InvCategory_ShowInInvoice]  DEFAULT ((1)),
	[ActiveStat] [bit] NOT NULL CONSTRAINT [DF_PMProductCategory_NodeMode]  DEFAULT ((0)),
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[InvCategory] ON
INSERT [dbo].[InvCategory] ([CategoryId], [AncestorId], [Lvl], [Hierarchy], [HierarchyIndex], [Name], [Code], [ServiceType], [Description], [ShowInInvoice], [ActiveStat], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (1, 1, 0, N'.1.', N'.00001.', N'Appetizer', N'APZ', N'Product', N'', 1, 1, 1, CAST(0x0000A5000136381F AS DateTime), 1, CAST(0x0000A7680181144B AS DateTime))
INSERT [dbo].[InvCategory] ([CategoryId], [AncestorId], [Lvl], [Hierarchy], [HierarchyIndex], [Name], [Code], [ServiceType], [Description], [ShowInInvoice], [ActiveStat], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (2, 2, 0, N'.2.', N'.00002.', N'Salad', N'SD', N'Product', N'', 1, 1, 1, CAST(0x0000A500013656D6 AS DateTime), 1, CAST(0x0000A74B00D4F2C1 AS DateTime))
INSERT [dbo].[InvCategory] ([CategoryId], [AncestorId], [Lvl], [Hierarchy], [HierarchyIndex], [Name], [Code], [ServiceType], [Description], [ShowInInvoice], [ActiveStat], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (3, 3, 0, N'.3.', N'.00003.', N'Bharta', N'BHA', N'Product', N'', 1, 1, 1, CAST(0x0000A500013682D0 AS DateTime), 1, CAST(0x0000A74B00D76FE6 AS DateTime))
SET IDENTITY_INSERT [dbo].[InvCategory] OFF
/****** Object:  Table [dbo].[CommonDocuments]    Script Date: 05/03/2017 23:33:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CommonDocuments](
	[DocumentId] [bigint] IDENTITY(1,1) NOT NULL,
	[OwnerId] [bigint] NULL,
	[DocumentCategory] [varchar](100) NULL,
	[DocumentType] [varchar](100) NULL,
	[Extention] [varchar](50) NULL,
	[Name] [varchar](100) NULL,
	[Path] [varchar](500) NULL,
	[CreatedBy] [int] NULL,
	[CreatedByDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Documents] PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CommonDocuments] ON
INSERT [dbo].[CommonDocuments] ([DocumentId], [OwnerId], [DocumentCategory], [DocumentType], [Extention], [Name], [Path], [CreatedBy], [CreatedByDate], [LastModifiedBy], [LastModifiedDate]) VALUES (1, 1, N'InventoryProductCategory', N'Image', N'.jpg', N'201612195857.jpg', N'/Inventory/Images/Category/', 0, CAST(0x0000A6E100B4F851 AS DateTime), NULL, NULL)
INSERT [dbo].[CommonDocuments] ([DocumentId], [OwnerId], [DocumentCategory], [DocumentType], [Extention], [Name], [Path], [CreatedBy], [CreatedByDate], [LastModifiedBy], [LastModifiedDate]) VALUES (2, 2, N'InventoryProductCategory', N'Image', N'.jpg', N'201612195940.jpg', N'/Inventory/Images/Category/', 0, CAST(0x0000A6E100B52C30 AS DateTime), NULL, NULL)
INSERT [dbo].[CommonDocuments] ([DocumentId], [OwnerId], [DocumentCategory], [DocumentType], [Extention], [Name], [Path], [CreatedBy], [CreatedByDate], [LastModifiedBy], [LastModifiedDate]) VALUES (3, 7, N'InventoryProductCategory', N'Image', N'.jpg', N'2016121909.jpg', N'/Inventory/Images/Category/', 0, CAST(0x0000A6E100B54D72 AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[CommonDocuments] OFF
